.navbar-brand{
    font-size: 2em;
}
.panel-heading{
    padding: 45px;
}

@media screen and (min-width: 505px){ 

    .tapMe{
        position: relative;
        width:100%;
        margin: 0px 10px 40px 0px;
        min-width: 45px;
        min-height: 45px;
        font-size: 2em;
        word-wrap: break-word;
}}

@media screen and (max-width: 504px){
    .tapMe{
        position: relative;
        width:100%;
        margin: 0px 10px 40px 0px;
        min-width: 45px;
        min-height: 45px;
        word-wrap: break-word;
        height: 100%;
        
}}

.navbar{
    background-color: #002f5d;
}

.thumbnail{
    width:100%;    
}

.data2{
    font-size: .5em;
    word-wrap: break-word;
}
